<div>
  <form>
    <label for="user-name">Username:</label>
    <input type="text" id="user-name" />

    <label for="user-password">Password:</label>
    <input type="text" id="user-password" />
    <input type="submit" id="postFormSubmit" name="formSubmit" value="Submit" />
  </form>

</div>
<a href="/signup">Not a user? Click here to signup</a>

<script src="/js/createNewAccount.js"></script>